/*
 * Empty Stylesheet file.
 */

.label{
    
    -fx-font-weight: bold italic;
    -fx-text-fill: white;
    
}
.chart-series-line{
    -fx-stroke-width: 2px;
    
}

.default-color0.chart-series-line {
    -fx-stroke: red;
    
}


/** CHART */
.chart{
    -fx-background-color: #05263b;
    -fx-font-size:12px;
    -fx-text-fill: white;
    -fx-legend-visible: false;
    
    
}
.chart-plot-background{
    -fx-background-color: transparent;   
}

.axis-label{
    -fx-text-fill: white;   
    
}


/** GENERAL LAYOUT */
.line{
    -fx-background-color: steelblue;
    
}



#background{
    -fx-background-color: #05263b;
    
    
}

#menuBar{
    -fx-background-color: #0b3048;
    
}

#openMenuItem{
    -fx-background-color:  #05263b;
    
}
.pane:hover{
    -fx-backgound-color: red;
}
