/*
 * Empty Stylesheet file.
 */

.label{
    
    -fx-font-weight: bold italic ;
    -fx-rotate: 0;

    
}

.chart-legend{
    -fx-background-color: lightgray;
    
}

.chart-series-line{
    -fx-stroke-width: 2px;
    
}

.default-color0.chart-series-line {
    -fx-stroke: green;
    
}
